#!/bin/bash

# Current Directory
SCRIPT_INSTALL="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Application Directories
export JAVA_HOME="{{javaHome}}"
export JSHOMEDIR="{{xapHome}}"
export GS_HOME=$JSHOMEDIR

# Installation Directories
export INSTALL_CONFIG_DIR="$SCRIPT_INSTALL/config"
export INSTALL_LIB_DIR="$SCRIPT_INSTALL/lib"
export INSTALL_LOCAL_DIR="$SCRIPT_INSTALL/local"
export INSTALL_LOGS_DIR="$SCRIPT_INSTALL/logs"

## Unicast/Multicast & Location Configurations

export LOOKUPGROUPS="{{lookupGroups}}"
{{#isUnicast}}
export DISCOVERY_PORT="{{discoveryPort}}"
export LOOKUPLOCATORS="{{getLookupLocatorsWithPort}}"

export UNICAST_OPTIONS="-Dcom.gs.multicast.enabled=false -Dcom.gs.multicast.discoveryPort=$DISCOVERY_PORT -Dcom.sun.jini.reggie.initialUnicastDiscoveryPort=$DISCOVERY_PORT -Dcom.gs.jini_lus.unicast_discovery.enabled=true -Dcom.gs.jini_lus.locators=$LOOKUPLOCATORS"
{{/isUnicast}}
{{^isUnicast}}
export DISCOVERY_PORT="4174"
export LOOKUPLOCATORS=""

export UNICAST_OPTIONS="-Dcom.gs.multicast.enabled=true -Dcom.gs.multicast.discoveryPort=$DISCOVERY_PORT -Dcom.sun.jini.reggie.initialUnicastDiscoveryPort=$DISCOVERY_PORT -Dcom.gs.jini_lus.unicast_discovery.enabled=true"
{{/isUnicast}}

export LRMI_PORT_OPTIONS="-Dcom.gs.transport_protocol.lrmi.bind-port=4600-4699 -Dcom.gigaspaces.system.registryPort=10198"
export RMI_OPTIONS="-Djava.rmi.server.hostname=$NIC_ADDR"

### Ulimit validation
if [[ $(ulimit -u) -lt {{maxProcessesNumber}} || $(ulimit -n) -lt {{maxOpenFileDescriptorsNumber}} ]]; then
    echo "ULIMIT is less than desired"
fi

# XAP Directory Options
export XAP_DIRECTORY_OPTIONS="-Dcom.gs.work=$INSTALL_LOCAL_DIR/work -Dcom.gs.deploy=$INSTALL_LOCAL_DIR/deploy"
export XAP_DIRECTORY_OPTIONS="${XAP_DIRECTORY_OPTIONS} -Dcom.gs.pu-common=$INSTALL_LIB_DIR/optional/pu-common"
export XAP_DIRECTORY_OPTIONS="${XAP_DIRECTORY_OPTIONS} -Dcom.gigaspaces.lib.platform.ext=$INSTALL_LIB_DIR/platform/ext"

# Logging
export GS_LOGGING_CONFIG_FILE="$INSTALL_CONFIG_DIR/gs_logging.properties"
export XAP_LOGGING_OPTIONS="-Dcom.gigaspaces.logger.RollingFileHandler.filename-pattern.homedir=$INSTALL_LOGS_DIR"

# Aggregate Configurations
export COMMON_JAVA_OPTIONS="${UNICAST_OPTIONS} ${XAP_DIRECTORY_OPTIONS} ${XAP_LOGGING_OPTIONS} ${XAP_SECURITY_OPTIONS} ${LRMI_PORT_OPTIONS}"

# Component Heap Configurations
export GSM_JAVA_OPTIONS="-Xmx1g -Xms1g -Xmn300m"

export LUS_JAVA_OPTIONS="${LRMI_PORT_OPTIONS} ${UNICAST_OPTIONS} -Xmx1g -Xms1g -Xmn300m"

export GSA_JAVA_OPTIONS="-Xmx1g -Xms1g ${XAP_LOGGING_OPTIONS}"

export WEBUI_JAVA_OPTIONS="-Xmx3g -Xms3g -Xmn1g"