<!DOCTYPE html>
<html lang="en">
<head>
    <title>XAP config</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/additional.css"/>
</head>
<body ng-app="xapConfigApp">
<div class="container" ng-controller="MainController">
    <form name="xapConfigForm" class="form-horizontal voffset6" autocomplete="off" novalidate>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2" for="javaHome">Java Home:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input id="javaHome" name="javaHome" class="form-control input-md" type="text" required
                       msd-placeholder="/usr/lib/java/" ng-model="options.javaHome"
                       ng-remote-validate="/validjavahome"/>
                <span class="error-message"
                      ng-show="xapConfigForm.javaHome.$touched && xapConfigForm.javaHome.$error.required">Java Home is required.</span>
                <span class="error-message" ng-show="xapConfigForm.javaHome.$error.ngRemoteValidate">JDK cannot be found by this path.</span>
                <span class="message" ng-show="xapConfigForm.javaHome.$pending">Validating JAVA_HOME...</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2" for="xapHome">XAP Home:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input id="xapHome" name="xapHome" class="form-control" type="text" msd-placeholder="/opt/giga-10-ga/"
                       required
                       ng-model="options.xapHome"/>
                <span class="error-message" ng-show="xapConfigForm.xapHome.$touched && xapConfigForm.xapHome.$error.required">XAP Home is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 col-md-offset-2" for="maxProcessesNumber">Acceptable Ulimit -u:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input name="ulimitU" id="maxProcessesNumber" class="form-control" type="number"
                       ng-model="options.maxProcessesNumber" msd-placeholder="8192" required/>
                <span class="error-message" ng-show="xapConfigForm.ulimitU.$touched && xapConfigForm.ulimitU.$error.required">ulimit -u is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 col-md-offset-2" for="maxOpenFileDescriptorsNumber">Acceptable Ulimit -n:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input name="ulimitN" id="maxOpenFileDescriptorsNumber" class="form-control" type="number"
                       msd-placeholder="32000" required
                       ng-model="options.maxOpenFileDescriptorsNumber"/>
                <span class="error-message" ng-show="xapConfigForm.ulimitN.$touched && xapConfigForm.ulimitN.$error.required">ulimit -n is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 col-md-offset-2" for="unicast">Unicast:</label>
            <div class="col-md-1 ">
                <input name="unicast" id="unicast" type="checkbox" ng-model="options.isUnicast"/>
            </div>
            <div class="col-md-2">
                <input name="uniport" class="form-control" type="number" msd-placeholder="UNI-PORT"
                       ng-model="options.discoveryPort" ng-required="options.isUnicast == true"/>
                <span class="error-message"
                      ng-show="xapConfigForm.unicast.$touched && xapConfigForm.uniport.$touched && xapConfigForm.uniport.$error.required">UNI-PORT is required.</span>
            </div>
            <div class="col-md-3">
                <input name="hosts" class="form-control" type="text" msd-placeholder="LUS_HOSTS"
                       ng-model="options.lookupLocators" ng-required="options.isUnicast == true"/>
                <span class="error-message"
                      ng-show="xapConfigForm.unicast.$touched && xapConfigForm.hosts.$touched && xapConfigForm.hosts.$error.required">LUS_HOSTS is required.</span>
            </div>
            <div class="col-md-2">
                <input name="group" class="form-control" type="text" msd-placeholder="GROUP" required
                       ng-model="options.lookupGroups"/>
                <span class="error-message" ng-show="xapConfigForm.group.$touched && xapConfigForm.group.$error.required">Lookup group is required.</span>
            </div>
        </div>

        <div class="row col-md-offset-2">
            <div id="fields">
                <label class="control-label">Start grid config</label>
                <div class="controls">
                    <div class="entry panel panel-default" data-ng-repeat="zone in zones"
                         style="width:100%">
                        <button class="btn btn-danger btn-remove" type="button" style="float:right"
                                ng-click="removeZone(zone)" ng-show="zones.length > 1 && $last">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <div class="form-group">
                            <label class="col-md-2" for="zone-name{{$index}}">Zone name:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="zone-name{{$index}}"
                                       ng-model="zone.zoneName">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="xmx{{$index}}" id="xmx{{$index}}"
                                       ng-model="zone.xmx"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xmx" required>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xmx{{$index}}.$touched && xapConfigForm.xmx{{$index}}.$invalid">Pattern is 1234[m|g]</span>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="xms{{$index}}" id="xms{{$index}}"
                                       ng-model="zone.xms"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xms" required>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xms{{$index}}.$touched && xapConfigForm.xms{{$index}}.$invalid">Pattern is 1234[m|g]</span>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="xmn{{$index}}" id="xmn{{$index}}"
                                       ng-model="zone.xmn"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xmn" required>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xmn{{$index}}.$touched && xapConfigForm.xmn{{$index}}.$invalid">Pattern is 1234[m|g]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="other-options{{$index}}">Other Java Options:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="other-options{{$index}}"
                                       ng-model="zone.otherOptions">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="zone-name{{$index}}">Number of:</label>
                            <label class="col-md-1" for="zone-name{{$index}}">GSC:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="gsc{{$index}}" id="gsc{{$index}}"
                                       ng-model="zone.gscNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsc{{$index}}.$touched && xapConfigForm.gsc{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsc{{$index}}.$dirty && xapConfigForm.gsc{{$index}}.$invalid &&
                                      !xapConfigForm.gsc{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                            <label class="col-md-1" for="zone-name{{$index}}">GSM:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="gsm{{$index}}" id="gsm{{$index}}"
                                       ng-model="zone.gsmNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsm{{$index}}.$touched && xapConfigForm.gsm{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsm{{$index}}.$dirty && xapConfigForm.gsm{{$index}}.$invalid &&
                                      !xapConfigForm.gsm{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                            <label class="col-md-1" for="zone-name{{$index}}">LUS:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2">
                                <input type="number" class="form-control" name="lus{{$index}}" id="lus{{$index}}"
                                       ng-model="zone.lusNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.lus{{$index}}.$touched && xapConfigForm.lus{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.lus{{$index}}.$dirty && xapConfigForm.lus{{$index}}.$invalid &&
                                      !xapConfigForm.lus{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-add" type="button" ng-click="addNewZone()"
                            style="float:right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <input type="submit" class="btn btn-primary" ng-click="download(options)" value="Generate"
                       ng-disabled="xapConfigForm.$invalid || myForm.$pending"/>
                <input type="button" class="btn btn-default" ng-click="reset(xapConfigForm)" value="Reset"/>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Error message:</h3>
        </div>
        <div class="modal-body">
            <h4><b>Status Code:</b> {{ data.statusCode }}</h4><br/>
            <h4><b>Error message:</b> {{ data.message }}</h4><br/>
            <h4><b>Detailed message:</b> {{ data.detailedMessage }}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-placeholder/placeholder.js"></script>
<script type="text/javascript" src="./bower_components/ng-remote-validate/release/ngRemoteValidate.js"></script>
<script type="text/javascript"
        src="./bower_components/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controller.js"></script>
</body>
</html>