<!DOCTYPE html>
<html lang="en">
<head>
    <title>XAP config</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/additional.css"/>
</head>
<body ng-app="xapConfigApp">
<div class="container" ng-controller="MainController">
    <form name="xapConfigForm" class="form-horizontal voffset6" autocomplete="off" novalidate ng-model-options="{allowInvalid:true}">
        <div class="form-group">
            <button id="shutdownButton" name="shutdownButton" class="btn btn-danger" type="button" aria-label="Shutdown" ng-click="shutdown()"
                    tooltip-placement="top" uib-tooltip="Shutdown"
                    ng-disabled="isDown" ng-model="isDown"
                    style="float:right;margin-right:15px;">
                <span class="glyphicon glyphicon-off"></span>
            </button>
            <label class="col-md-2 col-md-offset-2" for="javaHome">Java Home:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3" ng-class="{'has-error': xapConfigForm.javaHome.$touched && xapConfigForm.javaHome.$invalid}">
                <input id="javaHome" name="javaHome" class="form-control input-md" type="text" required
                       msd-placeholder="/usr/lib/java/" ng-model="options.javaHome"
                       ng-pattern="/^.*(jdk).*$/i" />
                <span class="error-message"
                      ng-show="xapConfigForm.javaHome.$touched && xapConfigForm.javaHome.$error.required">Java Home is required.</span>
                <span class="error-message" ng-show="xapConfigForm.javaHome.$touched && xapConfigForm.javaHome.$invalid
                                                    && !xapConfigForm.javaHome.$error.required">
                    XAP Requires a JDK, we cannot validate by the path a JDK is used, please double check this is indeed a JDK.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': xapConfigForm.xapHome.$touched && xapConfigForm.xapHome.$invalid}">
            <label class="col-md-2 col-md-offset-2" for="xapHome">XAP Home:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input id="xapHome" name="xapHome" class="form-control" type="text" msd-placeholder="/opt/giga-10-ga/"
                       required
                       ng-model="options.xapHome"/>
                <span class="error-message" ng-show="xapConfigForm.xapHome.$touched && xapConfigForm.xapHome.$error.required">XAP Home is required.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': xapConfigForm.ulimitU.$touched && xapConfigForm.ulimitU.$invalid}">
            <label class="col-md-2 col-md-offset-2" for="maxProcessesNumber">Acceptable Ulimit -u:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input name="ulimitU" id="maxProcessesNumber" class="form-control" type="number"
                       ng-model="options.maxProcessesNumber" msd-placeholder="8192" required />
                <span class="error-message" ng-show="xapConfigForm.ulimitU.$touched && xapConfigForm.ulimitU.$error.required">ulimit -u is required.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': xapConfigForm.ulimitN.$touched && xapConfigForm.ulimitN.$invalid}">
            <label class="col-md-2 col-md-offset-2" for="maxOpenFileDescriptorsNumber">Acceptable Ulimit -n:
                <span class="asteriskField">*</span>
            </label>
            <div class="col-md-3">
                <input name="ulimitN" id="maxOpenFileDescriptorsNumber" class="form-control" type="number"
                       msd-placeholder="32000" required
                       ng-model="options.maxOpenFileDescriptorsNumber"/>
                <span class="error-message" ng-show="xapConfigForm.ulimitN.$touched && xapConfigForm.ulimitN.$error.required">ulimit -n is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 col-md-offset-2" for="unicast">Unicast:</label>
            <div class="col-md-1 ">
                <input name="unicast" id="unicast" type="checkbox" ng-model="options.isUnicast"/>
            </div>
            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.unicast.$touched && xapConfigForm.uniport.$invalid}">
                <input name="uniport" class="form-control" type="number" msd-placeholder="UNI-PORT"
                       ng-model="options.discoveryPort" ng-required="options.isUnicast == true"/>
                <span class="error-message"
                      ng-show="xapConfigForm.unicast.$touched && xapConfigForm.uniport.$touched && xapConfigForm.uniport.$error.required">UNI-PORT is required.</span>
            </div>
            <div class="col-md-3" ng-class="{'has-error': xapConfigForm.unicast.$touched && xapConfigForm.hosts.$invalid}">
                <input name="hosts" class="form-control" type="text" msd-placeholder="LUS_HOSTS"
                       ng-model="options.lookupLocators" ng-required="options.isUnicast == true"/>
                <span class="error-message"
                      ng-show="xapConfigForm.unicast.$touched && xapConfigForm.hosts.$touched && xapConfigForm.hosts.$error.required">LUS_HOSTS is required.</span>
            </div>
            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.group.$invalid}">
                <input name="group" class="form-control" type="text" msd-placeholder="GROUP" required
                       ng-model="options.lookupGroups"/>
                <span class="error-message" ng-show="xapConfigForm.group.$touched && xapConfigForm.group.$error.required">Lookup group is required.</span>
            </div>
        </div>

        <div class="row col-md-offset-2">
            <div id="fields">
                <label class="control-label">Start grid config</label>
                <div class="controls">
                    <div class="entry panel panel-default" data-ng-repeat="zone in zones"
                         style="width:100%">
                        <button class="btn btn-danger btn-remove" type="button" style="float:right"
                                ng-click="removeZone(zone)" ng-show="zones.length > 1 && $last">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <div class="form-group">
                            <label class="col-md-2" for="zoneName{{$index}}">Zone name:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="zoneName{{$index}}" name="zoneName{{$index}}"
                                       ng-model="zone.zoneName" unique>
                                <span class="error-message"
                                      ng-show="xapConfigForm.zoneName{{$index}}.$error.unique">Zone name is not unique!</span>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.xmx{{$index}}.$invalid}">
                                <input type="text" class="form-control" name="xmx{{$index}}" id="xmx{{$index}}"
                                       ng-model="zone.xmx"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xmx" required>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xmx{{$index}}.$touched && xapConfigForm.xmx{{$index}}.$invalid">Pattern is 1234[m|g]</span>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.xms{{$index}}.$invalid}">
                                <input type="text" class="form-control" name="xms{{$index}}" id="xms{{$index}}"
                                       ng-model="zone.xms" equals="{{zone.xmx}}"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xms" required>
                                <span class="error-message" ng-show="xapConfigForm.xms{{$index}}.$touched &&
                                xapConfigForm.xms{{$index}}.$invalid && !xapConfigForm.xms{{$index}}.$error.equals">Pattern is 1234[m|g]</span>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xms{{$index}}.$touched && xapConfigForm.xms{{$index}}.$error.equals">Xms must be equal to Xmx!</span>
                            </div>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.xmn{{$index}}.$invalid}">
                                <input type="text" class="form-control" name="xmn{{$index}}" id="xmn{{$index}}"
                                       ng-model="zone.xmn" third="{{zone.xmx}}"
                                       ng-pattern="/^[0-9]{1,4}[mg]{1}$/" msd-placeholder="Xmn" required>
                                <span class="error-message" ng-show="xapConfigForm.xmn{{$index}}.$touched
                                && xapConfigForm.xmn{{$index}}.$invalid && !xapConfigForm.xmn{{$index}}.$error.third">Pattern is 1234[m|g]</span>
                                <span class="error-message"
                                      ng-show="xapConfigForm.xmn{{$index}}.$error.third">Xmn must be 1/3 of Xmx!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="other-options{{$index}}">Other Java Options:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="other-options{{$index}}"
                                       ng-model="zone.otherOptions">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="zoneName{{$index}}">Number of:</label>
                            <label class="col-md-1" for="zoneName{{$index}}">GSC:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.gsc{{$index}}.$touched && xapConfigForm.gsc{{$index}}.$invalid}">
                                <input type="number" class="form-control" name="gsc{{$index}}" id="gsc{{$index}}"
                                       ng-model="zone.gscNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsc{{$index}}.$touched && xapConfigForm.gsc{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsc{{$index}}.$dirty && xapConfigForm.gsc{{$index}}.$invalid &&
                                      !xapConfigForm.gsc{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                            <label class="col-md-1" for="zoneName{{$index}}">GSM:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.gsm{{$index}}.$touched && xapConfigForm.gsm{{$index}}.$invalid}">
                                <input type="number" class="form-control" name="gsm{{$index}}" id="gsm{{$index}}"
                                       ng-model="zone.gsmNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsm{{$index}}.$touched && xapConfigForm.gsm{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.gsm{{$index}}.$dirty && xapConfigForm.gsm{{$index}}.$invalid &&
                                      !xapConfigForm.gsm{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                            <label class="col-md-1" for="zoneName{{$index}}">LUS:
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="col-md-2" ng-class="{'has-error': xapConfigForm.lus{{$index}}.$touched && xapConfigForm.lus{{$index}}.$invalid}">
                                <input type="number" class="form-control" name="lus{{$index}}" id="lus{{$index}}"
                                       ng-model="zone.lusNum" ng-pattern="/^[0-9]*$/" required>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.lus{{$index}}.$touched && xapConfigForm.lus{{$index}}.$error.required">Field is required!</span>
                                <span class="error-message" style="position: absolute"
                                      ng-show="xapConfigForm.lus{{$index}}.$dirty && xapConfigForm.lus{{$index}}.$invalid &&
                                      !xapConfigForm.lus{{$index}}.$error.required">Must be >= 0!</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2" for="profile-select">Select profile:</label>
                        <div class="col-md-3">
                            <select class="form-control" id="profile-select"
                                    data-ng-options="profile.name for profile in profiles"
                                    data-ng-model="selectedProfile" ng-change="applyProfile()">
                            </select>
                        </div>

                        <button class="btn btn-success btn-add" type="button" ng-click="addNewZone()"
                                style="float:right;margin-right:15px;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <input type="submit" class="btn btn-primary" ng-click="download(options, false)" value="Generate"
                       ng-disabled="xapConfigForm.$error.unique"/>
                <input type="button" class="btn btn-default" ng-click="reset(xapConfigForm)" value="Reset"/>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
            <h4><b>Status Code:</b> {{ data.statusCode }}</h4><br/>
            <h4><b>Error message:</b> {{ data.message }}</h4><br/>
            <h4><b>Detailed message:</b> {{ data.detailedMessage }}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="warningModalContent.html">
        <div class="modal-body">
            <h4>You haven't filled all required fields.</h4>
            <h4>The generated scripts will be corrupted.</h4> <br/>
            <h3>Do you want to continue anyway?</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="forceDownload()">Generate</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-placeholder/placeholder.js"></script>
<script type="text/javascript" src="./bower_components/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controller.js"></script>
</body>
</html>